// =============================================================================
// VARIABLES
// =============================================================================

// SASS Color Variables
$color-white: #fff;
$color-black: #2a2a2a;
$color-black-light: #787878;
$color-grey: #e8ecf2;
$color-grey-light: #f4f8ff;
$color-turquoise: #3ec4c2;
$color-turquoise-light: #96d1cf;
$color-turquoise-dark: #129e9b;
$color-blue: #3f78b5;
$color-blue-light: #7e98b5;
$color-blue-dark: #15508e;
$color-orange: #f79b6a;
$color-orange-light: #ffb793;
$color-orange-dark: #d17645;
$color-red: #e15554;
$color-red-light: #e08b8b;
$color-red-dark: #ad2626;
