<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/weitzman/drupal-test-traits/src/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="false"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         cacheResult="false">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="DTT_BASE_URL" value="http://127.0.0.1:80"/>
    <env name="DTT_API_URL" value="http://127.0.0.1:80"/>
    <env name="SIMPLETEST_BASE_URL" value="http://127.0.0.1"/>
    <env name="SIMPLETEST_DB" value="mysql://root:root@127.0.0.1:3306/db"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/var/www/html/private/browsertest_output"/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value="http://web"/>
    <env name="MINK_DRIVER_CLASS" value=""/>
    <env name="MINK_DRIVER_ARGS" value=""/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value=""/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
  </php>

  <testsuites>
    <testsuite name="unit">
      <directory>./web/modules/custom/*/tests/src/Unit</directory>
      <directory>./web/modules/custom/*/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="existing-site">
      <directory>./web/modules/custom/*/tests/src/ExistingSite</directory>
      <directory>./web/modules/custom/*/*/tests/src/ExistingSite</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>./web/modules/custom/*/tests/src/Kernel</directory>
      <directory>./web/modules/custom/*/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>./web/modules/custom/*/tests/src/Functional</directory>
      <directory>./web/modules/custom/*/*/tests/src/Functional</directory>
    </testsuite>
  </testsuites>

  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
  </listeners>

</phpunit>
