<tr {{ attributes }} class="context-pane context-pane--logbook">
  <td colspan="100%">
    <div class="logbook-timeline-flex">
      {% for log in content.logs %}
        <div class="logbook-timeline-flex-row">
          {{ log }}
        </div>
      {% endfor %}
    </div>
  </td>
</tr>
