<tr {{ attributes }} class="context-pane context-pane--lifecycle">
  <td colspan="100%">
    <strong>Lifecycle State:</strong>
    <span class="lifecycle-state">{{ content.states }}</span>
  </td>
</tr>
