<div class="manager-rule manager-rule--{{ content.severity }}">
  <div class="manager-rule-content">
    <span class="manager-icon-{{ content.severity }}"></span>
    <span class="manager-rule-text">{{ content.text }}</span>
  </div>
</div>
