.loading-row {
  height: 100px;
}
.loading-row td {
  padding: 0;
  border: none;
  position: relative;
}
.sliding-bar-loader {
  display: block;
  width: 100%;
  height: 2px;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  z-index: 1;
}
.sliding-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 0;
  background: #3f78b5;
  border-radius: 0;
  opacity: 0.7;
  animation: sliding-bar-grow 0.7s cubic-bezier(0.4,0,0.2,1) infinite;
}
@keyframes sliding-bar-grow {
  0% {
    width: 0;
    opacity: 0.7;
  }
  90% {
    width: 100%;
    opacity: 0.7;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
