td.views-field-field-lifecycle {
  width: 10%;
}

td.views-field-changed {
  width: 10%;
}

td.views-field-promote {
  width: 5%;
}

td.views-field-field-skills {
  width: 10%;
}

td.views-field-title {
  width: 30%;
}

td.views-field-uid {
  width: 25%;
}

td.views-field-field-manager {
  width: 5%;
}

td.views-field-operations {
  width: 5%;
}
